---
layout: default
---
<div class="container mt-5">
  <header class="section-title text-center">
    <h1>{{ page.type | capitalize }}: {{ page.title | capitalize }}</h1>
  </header>

  <div class="row news-grid mt-5">
    {% for post in page.posts %}
      <div class="col-md-4 mb-4 news-item news-card" data-year="{{ post.date | date: '%Y' }}">
        <div class="card h-100">
          <div class="card-content">
            <h3 class="card-title">
              <a href="{{ post.url | relative_url }}">
                {% if post.title %}
                  {{ post.title }}
                {% else %}
                  .
                {% endif %}
              </a>
            </h3>
          </div>
          <div class="card-img">
            <div class="card-date">{{ post.date | date: "%d/%m/%Y" }}</div>
            {% if post.year %}
              <div class="card-year-tag">{{ post.year }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>